/* studio + portfolio */
body {
  font-family: roboto, sans-serif;
  color: #757575;
}

:root {
  --items: 3; /* кількість карток в рядку */
  --indent: 30px; /* відступи між картками */
}

/**
  |============================
  | сітка із застосуванням flex-box
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

/* studio main */
section {
  padding-bottom: 94px;
  padding-top: 94px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0%;
}

ul {
  margin: 0%;
  padding-left: 0%;
}

link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* общий */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-team {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f5f4fa;
}

/* webstudio */
.logo {
  margin-right: 93px;
  display: flex;
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
  letter-spacing: 0.03em;
}

/* webstudio down */
.logo-down {
  padding-top: 0;
  padding-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  /* identical to box height */
  color: #2196f3;
  letter-spacing: 0.03em;
}

/* верхний логотип цвет Studio */
.logo-web {
  color: #292929;
}

/* нижний логотип цвет Studio */
.logo-web2 {
  color: #ffffff;
}
/* убрал подчеркивание */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link:active {
  color: #2196f3;
}

/* link студия портфолио + контакты */
.text {
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
/* studio */
.text-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}
/* studio */
.text-team {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.03em;
}

/* portfolio <p текст */
.text-pf {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* studio link студия и на portfolio link портфолио*/
.web {
  color: #2196f3;
}

.contacts {
  padding-bottom: 0;
}

/* нижний адрес */
.down-nav {
  padding-top: 20px;
  padding-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
  color: #ffffff;
  list-style: none;
  letter-spacing: 0.03em;
}

/* studio */
.footer {
  background-color: #2f303a;
  font-style: normal;
  letter-spacing: 0.03em;
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* нижние tel + web */
.inf {
  padding-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.inf2 {
  padding-top: 9px;
  padding-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}
/* footer тел и gmail */
.list-down {
  padding-bottom: 9px;
  list-style: none;
}

/* studio убирает точки по краям */
.list {
  display: flex;
  list-style: none;
}

/* portfolio */
.list-pf {
  list-style: none;
}

.list-item1 {
  margin-right: 50px;
}

.list-item2 {
  margin-right: 50px;
}

.list-item3 {
  margin-right: 331px;
}
.list-link {
  margin-right: 50px;
}

/* studio main */
.hero {
  text-align: center;
  background-color: #2f303a;
}

/* studio */
.h1 {
  padding-top: 200px;
  padding-bottom: 30px;
  margin-left: 237px;
  margin-right: 237px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.06em;
}

/* studio img */
.imgh2 {
  left: 215px;
  top: 1061px;
}

/* studio img */
.imgh3 {
  left: 215px;
  top: 1635px;
}

/* studio */

.h2 {
  padding-top: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  letter-spacing: 0.03em;
}
/* studio */

.section-h2 {
  padding-top: 0;
  padding-bottom: 94px;
}

.h2-team {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  letter-spacing: 0.03em;
}

/* portfolio h2 */

.h2-pf {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: Left;
  letter-spacing: 0.06em;
  color: #212121;
}
/* studio */
.h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

/* studio команда */
.h3-team {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  letter-spacing: 0.06em;
}

/* studio основная кнопка */
.button {
  font-family: Roboto, sans-serif;
  background-color: #2196f3;
  border-radius: 4px;
  margin-bottom: 200px;
  color: white;
  border-color: transparent;
}

.button-text {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

/* для кнопки studio  */
.button:hover,
.button:focus {
  color: #212121;
}
.button:active {
  color: #777777;
}

/* portfolio кнопки */

.button-all {
  width: 73px;
  height: 38px;
  margin-top: 0;
  margin-left: 280px;
  margin-right: 8px;
  border-radius: 4px;
  font-family: Roboto;
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;

  color: #ffffff;
  cursor: pointer;
}

.button-all:hover,
.button-all:focus {
  color: black;
}

.button-all:active {
  color: #777777;
}

.button-pf {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.39;
  letter-spacing: 0.03em;
  justify-content: center;
  border-color: transparent;

  list-style: none;
  cursor: pointer;
}

.button-pf:hover,
.button-pf:focus {
  color: #2196f3;
}

.button-pf:active {
  color: #2196f3;
}

/* кнопки portfolio */
.pf1 {
  width: 128px;
  height: 38px;
  margin-left: 0;
  margin-top: 0px;
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
}

.pf2 {
  width: 145px;
  height: 38px;
  margin-left: 0;
  margin-top: 0px;
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
}

.pf3 {
  width: 103px;
  height: 38px;
  margin-top: 0px;
  margin-right: 8px;
  margin-bottom: 50px;
  margin-left: 0;
  background: #f5f4fa;
  border-radius: 4px;
}

.pf4 {
  width: 130px;
  height: 38px;
  margin-left: 0;
  margin-top: 0px;
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
}

/* studio, portfolio номер телефона */
.telephone {
  position: absolute;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-container {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
}
/* studio service  */
.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

/* studio service внимание к деталям */
.service-item1 {
  width: 270px;
  margin-right: 30px;
}

/* studio service пунетуальность */
.service-item2 {
  width: 270px;
  margin-right: 30px;
}

/* studio service планирование */
.service-item3 {
  width: 270px;
  margin-right: 30px;
}

/* studio service соврем. технологии */
.service-item4 {
  width: 270px;
  margin-right: 0;
}

/* flex фото чем мы зан. */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element1 {
  width: 370px;
  margin-right: 30px;
}

.flex-element2 {
  width: 370px;
  margin-right: 30px;
}

.flex-element3 {
  width: 370px;
  margin-right: 0;
}

/* studio наша команда */
.flex-team1 {
  width: 270px;
  margin-right: 30px;
}
.flex-team2 {
  width: 270px;
  margin-right: 30px;
}

.flex-team3 {
  width: 270px;
  margin-right: 30px;
}

.flex-team4 {
  width: 270px;
  margin-right: 0;
}

.box {
}

/* portfolio картинки */
.box-element {
}

.notebook {
  width: 370px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.orlean {
  width: 370px;
}

.seafood {
  width: 370px;
}
.prime {
  width: 370px;
}

.boxes {
  width: 370px;
}

.borders {
  width: 370px;
}
.edition {
  width: 370px;
}

.lab {
  width: 370px;
}

.business {
  width: 370px;
}

/* portfolio */
.flex-container {
  display: flex;
  justify-content: space-between;
}
